.payment-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.payment-title {
  display: flex;
  padding: 1rem;
}

.paymentForm-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.paymentForm-title {
  margin-bottom: 1rem;
}

.paymentForm-wrapper form {
  border: 1px solid #353b48;
  border-radius: 1rem;
  padding: 1rem;
}

.paymentForm-paypal, .paymentForm-btn {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.paymentForm-paypal {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.shippingForm-wrapper label {
  margin-bottom: 0.1rem;
}

/*-------------------------------------------------------------------------------------*/
/* Mobiles landscaper */
@media (min-width: 576px) {
  .paymentForm-wrapper {
    width: 70%;
  }

  .paymentForm-wrapper form {
    width: 60%;
    margin: 0 auto;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets */
@media (min-width: 728px) {
  .paymentForm-wrapper {
    width: 70%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Medium Screens */
@media (min-width: 992px) {
}

/*-------------------------------------------------------------------------------------*/
/* Tablets landscape (up to 1024px) */
@media only screen and (min-width: 1024px) and (orientation:landscape) {
}

/*-------------------------------------------------------------------------------------*/
/* Desktop, big screens */
@media (min-width: 1200px) {
}