.placeOrder-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.placeOrder-title {
  display: flex;
  padding: 1rem;
}

.placeOrder-infoShipping {
  margin: 0 0 1rem 0;
}

.placeOrder-infoShipping p {
  margin: 0;
}

.placeOrder-infoPayment {
  margin: 0 0 1rem 0;
}

.placeOrder-infoPayment p {
  margin: 0;
}

.placeOrder-item-wrapper, .empty-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  border-top: 1px solid #666;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
}

.placeOrder-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.placeOrder-img img {
  width: 10rem;
  height: 7rem;
  border: 1px solid #323232;
  border-radius: 0.5rem;
}

.placeOrder-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.placeOrder-info a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #323232;
  margin: 0 auto;
}

.placeOrder-info-qty {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.placeOrder-info-qty p {
  margin: 0;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border: #353b48 1px solid;
  border-radius: 1rem;
}

.btn-summary {
  font-size: 1.25rem;
  color: #fff;
  background-color: #353b48;
  width: 8rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

.summary-info h3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-summary {
  font-size: 1.25rem;
  color: #fff;
  background-color: #353b48;
  margin: 1rem;
  width: 15rem;
  height: 3rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
}

.btn-summary:hover {
  color: #fff;
  background-color: #535c68;
}

/*-------------------------------------------------------------------------------------*/
/* Mobiles landscaper */
@media (min-width: 576px) {
  .summary-wrapper {
    width: 60%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets */
@media (min-width: 728px) {
  .summary-wrapper {
    width: 50%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Medium Screens */
@media (min-width: 992px) {
  .product-img img {
    width: 17rem;
    height: 12rem;
  }

  .summary-wrapper {
    width: 40%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets landscape (up to 1024px) */
@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .placeOrder-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .placeOrder-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
  }

  .placeOrder-infoShipping {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 95%;
  }
  
  .placeOrder-infoPayment {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 95%;
  }
  
  .summary-wrapper {
    width: 30%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Desktop, big screens */
@media (min-width: 1200px) {
}
