.shipping-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.shipping-title {
  display: flex;
  padding: 1rem;
}

.shippingForm-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.shippingForm-wrapper form {
  border: 1px solid #353b48;
  border-radius: 1rem;
}

.shippingForm-address, .shippingForm-city, .shippingForm-postcode, .btn-shippingForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.shippingForm-wrapper label {
  margin-bottom: 0.1rem;
}

/*-------------------------------------------------------------------------------------*/
/* Mobiles landscape */
@media (min-width: 576px) {
  .btn-shippingForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets */
@media (min-width: 728px) {
  .shippingForm-wrapper {
    width: 60%;
  }

  .shippingForm-wrapper form {
    width: 90%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Medium Screens */
@media (min-width: 992px) {
  .shippingForm-wrapper {
    width: 55%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets landscape (up to 1024px) */
@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .shippingForm-wrapper {
    width: 50%;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Desktop, big screens */
@media (min-width: 1200px) {
  .shippingForm-wrapper {
    width: 40%;
  }
}