.banner-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15rem;
  background-image: url("../components/Images/compass.jpg");
  background-size: cover;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.shop-title {
  display: flex;
  padding: 1rem;
  background-color: #353b48;
  color: #fff;
}

.shop-title h3{
  margin: 0;
}

.product-wrapper ul {
  list-style: none;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1rem;
  margin: 1rem;
}

.product-img img {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 20rem;
  height: 15rem;
}

.product-info {
  padding: 1rem;
}


/*-------------------------------------------------------------------------------------*/
/* Mobiles landscape */
@media (min-width: 576px) {
  .product-img img {
    width: 17rem;
    height: 12rem;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Medium Screens */
@media (min-width: 768px) {
  .product-img img {
    width: 20rem;
    height: 15rem;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Tablets landscape (up to 1024px) */
@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .product-img img {
    width: 17rem;
    height: 12rem;
  }
}

/*-------------------------------------------------------------------------------------*/
/* Desktop, big screens */
@media (min-width: 992px) {
  .product-img img {
    width: 17rem;
    height: 12rem;
  }
}